Frepi MVP2 - Full Architecture.json
{
  "name": "Frepi MVP2 - Full Architecture (WhatsApp Enabled)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        1200
      ],
      "id": "whatsapp-trigger-001",
      "name": "WhatsApp Trigger",
      "webhookId": "frepi-v2-whatsapp",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "nL8j9VXr95OvYqlC",
          "name": "Frepi bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== EXTRACT WHATSAPP MESSAGE DATA =====\nconst data = $input.first().json;\n\n// Filter: Only process incoming messages\nif (!data.messages || data.messages.length === 0) {\n  console.log('⏭️ Ignoring status notification');\n  return [];\n}\n\nconst message = data.messages[0];\nconst phoneNumber = message.from;\nconst userName = data.contacts[0]?.profile?.name || 'Usuario';\nconst messageId = message.id;\nconst timestamp = message.timestamp;\n\n// Detect unsupported file types\nif (message.type !== 'text') {\n  const unsupportedMessage = `📎 Oi! Percebi que você enviou um arquivo (${message.type}).\\n\\nPor enquanto, só consigo processar mensagens de texto. 📝\\n\\nDigite \"menu\" para ver as opções disponíveis.`;\n  \n  return [{\n    json: {\n      phone_number: phoneNumber,\n      message: unsupportedMessage,\n      user_name: userName,\n      message_id: messageId,\n      timestamp: timestamp,\n      is_unsupported_file: true,\n      file_type: message.type,\n      output: unsupportedMessage\n    }\n  }];\n}\n\nconst messageText = message.text.body;\n\nconsole.log('📱 Message received from:', phoneNumber);\nconsole.log('💬 Content:', messageText);\n\nreturn [{\n  json: {\n    phone_number: phoneNumber,\n    message: messageText,\n    user_name: userName,\n    message_id: messageId,\n    timestamp: new Date().toISOString(),\n    session_id: `${phoneNumber}_${Date.now()}`,\n    is_unsupported_file: false,\n    raw_data: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        1200
      ],
      "id": "extract-data-001",
      "name": "Extract Message Data"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurant_people",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_number",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2112,
        1200
      ],
      "id": "buscar-usuario-001",
      "name": "Buscar Usuario en DB",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YaSYB0r907WCaDZK",
          "name": "Frepi Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== PREPARE USER CONTEXT =====\nconst userData = $('Buscar Usuario en DB').all();\nconst messageData = $('Extract Message Data').first().json;\n\nlet userContext = {\n  ...messageData,\n  is_new_user: userData.length === 0\n};\n\nif (userData.length > 0) {\n  const user = userData[0].json;\n  userContext.user_data = user;\n  userContext.restaurant_id = user.restaurant_id;\n  userContext.person_id = user.id;\n  userContext.user_name = user.first_name || messageData.user_name;\n}\n\nconsole.log('👤 User context:', userContext.is_new_user ? 'NEW USER' : 'EXISTING USER');\n\nreturn [{ json: userContext }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        1200
      ],
      "id": "prepare-context-001",
      "name": "Prepare User Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "supplier-check-001",
              "leftValue": "={{ $json.message.toLowerCase() }}",
              "rightValue": "fornecedor|proveedor|vender|supplier|lista de preço|lista de precio|distribuidor|sou fornecedor",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        1200
      ],
      "id": "route-customer-supplier-001",
      "name": "Route: Customer or Supplier?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "# 👤 CUSTOMER JOURNEY AGENT - FREPI\n\n## CONTEXTO\nEres el agente especializado en gestionar restaurantes por WhatsApp. Manejas todo el ciclo desde onboarding hasta compra.\n\n## MISIÓN\n1. Onboarding de nuevos restaurantes\n2. Configuración de preferencias de compra\n3. Búsqueda y compra de productos\n4. Gestión de pedidos\n\n## DATOS DEL USUARIO\nNuevo usuario: {{ $('Prepare User Context').first().json.is_new_user }}\n{{ $('Prepare User Context').first().json.user_data ? 'Usuario: ' + $('Prepare User Context').first().json.user_name : 'Sin datos previos' }}\n\n## TOOLS DISPONIBLES\n\n### 📝 onboarding_restaurant\n**Descripción:** Inicia registro de nuevo restaurante.\n**Captura:** nombre restaurante, contacto, ciudad, tipo negocio.\n**USA cuando:** Detectes que es usuario nuevo o cuando pida \"registrar\" o \"cadastro\".\n\n### ⚙️ setup_buying_preferences\n**Descripción:** Configura preferencias de compra.\n**Captura:** marcas preferidas, formatos, frecuencias, restricciones.\n**USA cuando:** Usuario quiera configurar preferencias o diga \"preferencias\", \"configurar\".\n\n### 🔎 search_products_vector\n**Descripción:** Busca productos en catálogo maestro usando vector search.\n**Retorna:** Productos con precios y disponibilidad.\n**USA cuando:** Usuario mencione productos para comprar (ej: \"quiero tomate\", \"preciso de arroz\").\n\n### 🛒 build_shopping_cart\n**Descripción:** Arma carrito con productos seleccionados.\n**Calcula:** Cantidades y totales.\n**USA cuando:** Usuario haya visto productos y diga cantidades o \"quero X unidades\".\n\n### ✅ execute_checkout\n**Descripción:** Finaliza y confirma el pedido.\n**Crea:** Orden en sistema.\n**USA cuando:** Usuario confirme \"comprar\", \"confirmar pedido\", \"finalizar\".\n\n### 📱 show_customer_menu\n**Descripción:** Muestra menú de opciones para restaurantes.\n**USA cuando:** Usuario pida \"menu\", \"opciones\", \"ayuda\" o \"ajuda\".\n\n## FLUJO TÍPICO\n\n**Nuevo Usuario:**\n1. Detectar que es nuevo\n2. USA onboarding_restaurant\n3. Después del registro, USA show_customer_menu\n\n**Usuario Comprando:**\n1. USA search_products_vector cuando mencione productos\n2. Usuario selecciona productos y cantidades\n3. USA build_shopping_cart\n4. Usuario confirma\n5. USA execute_checkout\n\n**Usuario Configurando:**\n1. USA setup_buying_preferences\n2. Capturar preferencias paso a paso\n3. Confirmar guardado\n\n## REGLAS IMPORTANTES\n- ✅ Conversación natural en portugués de Brasil, no robotizada\n- ✅ UNA pregunta a la vez en onboarding\n- ✅ Confirmar ANTES de checkout\n- ✅ Si usuario cambia de tema, adaptar\n- ✅ Usar emojis relevantes: 🛒 🔎 ✅ 📦 🍽️\n- ❌ NO inventes datos - si no sabes, pregunta\n- ❌ NO confirmes pedidos sin autorización explícita\n\n## TONO\nAmigável, eficiente, como um assistente pessoal de compras brasileiro. Seja breve (máximo 3-4 linhas por mensagem)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1120,
        1072
      ],
      "id": "customer-journey-agent-001",
      "name": "Customer Journey Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "# 🏪 SUPPLIER JOURNEY AGENT - FREPI\n\n## CONTEXTO\nEres el agente especializado en gestionar proveedores. Manejas registro, listas de precios y publicación.\n\n## MISIÓN\n1. Onboarding de nuevos proveedores\n2. Procesamiento de listas de precios\n3. Normalización y validación de productos\n4. Publicación al catálogo maestro\n\n## TOOLS DISPONIBLES\n\n### 📋 onboarding_supplier\n**Descripción:** Inicia registro de nuevo proveedor.\n**Captura:** razón social, contacto, región de cobertura, categorías.\n**USA cuando:** Detectes que es proveedor nuevo o diga \"registrar\", \"cadastrar empresa\".\n\n### 💰 upload_supplier_prices\n**Descripción:** Procesa lista de precios del proveedor.\n**Acepta:** CSV, Excel o texto estructurado.\n**Valida:** Formato y completitud.\n**USA cuando:** Proveedor envíe precios o diga \"actualizar preços\", \"lista de preços\".\n\n### 🔧 normalize_product_list\n**Descripción:** Normaliza la lista de productos:\n- Mapea SKUs al catálogo maestro\n- Estandariza unidades de medida\n- Elimina duplicados\n- Valida precios anómalos\n**USA:** Después de upload_supplier_prices, automáticamente.\n\n### 📤 publish_to_catalog\n**Descripción:** Publica lista normalizada al catálogo activo.\n**Crea:** Versión, registra changelog.\n**USA cuando:** Proveedor confirme publicación diciendo \"publicar\", \"confirmar\", \"ok\".\n\n### 📱 show_supplier_menu\n**Descripción:** Muestra menú de opciones para proveedores.\n**USA cuando:** Proveedor pida \"menu\", \"opções\", \"ajuda\".\n\n## FLUJO TÍPICO\n\n**Nuevo Proveedor:**\n1. USA onboarding_supplier\n2. Capturar datos empresa\n3. USA show_supplier_menu\n\n**Subir Precios:**\n1. USA upload_supplier_prices\n2. Validar formato\n3. USA normalize_product_list\n4. Revisar resultados\n5. USA publish_to_catalog cuando confirme\n\n## REGLAS IMPORTANTES\n- ✅ Validar SIEMPRE antes de publicar\n- ✅ Detectar precios anómalos (>50% cambio)\n- ✅ Confirmar publicación explícitamente\n- ✅ Mantener historial de versiones\n- ✅ Tono profesional pero amigable\n- ❌ NO publiques sin confirmación explícita\n- ❌ NO aceptes precios sin validar formato\n\n## FORMATO DE PRECIOS ACEPTADO\nEjemplo texto:\n```\nLeite Piracanjuba 4.50/L\nArroz Tio João 5.20/kg\nFeijão Camil 6.80/kg\n```\n\nO estructurado:\n```\nFornecedor: Piracanjuba\n- Leite 4.50/L\n- Queijo 18.00/kg\n```\n\n## TONO\nProfissional, eficiente, orientado a resultados comerciais. Use emojis: 💰 📋 ✅ 📊"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1120,
        1328
      ],
      "id": "supplier-journey-agent-001",
      "name": "Supplier Journey Agent"
    },
    {
      "parameters": {
        "description": "Inicia o onboarding de um novo restaurante. Captura nome do restaurante, contacto, cidade e tipo de negócio. Retorna JSON com status e próximo passo.",
        "jsCode": "// ===== ONBOARDING RESTAURANT TOOL =====\nconst input = $input.first().json;\nconst message = input.query || input.message || '';\nconst userData = $('Prepare User Context').first().json;\n\n// Check if user already exists\nif (!userData.is_new_user) {\n  return JSON.stringify({\n    status: 'already_registered',\n    message: `Olá ${userData.user_name}! 😊\\n\\nVocê já está cadastrado.\\n\\nDigite \"menu\" para ver as opções disponíveis.`\n  });\n}\n\nconst response = {\n  status: 'collecting_data',\n  step: 1,\n  total_steps: 4,\n  fields_collected: [],\n  fields_pending: ['restaurant_name', 'contact_name', 'city', 'business_type'],\n  message: '📝 *Olá! Bem-vindo ao Frepi!*\\n\\nSou seu assistente de compras.\\n\\nPara começar, preciso de alguns dados básicos.\\n\\n*Qual é o nome do seu restaurante?*',\n  next_action: 'await_restaurant_name'\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1424,
        928
      ],
      "id": "tool-onboarding-restaurant",
      "name": "onboarding_restaurant"
    },
    {
      "parameters": {
        "description": "Configura as preferências de compra do restaurante. Captura marcas preferidas, formatos, frequência de pedidos e restrições especiais.",
        "jsCode": "// ===== SETUP BUYING PREFERENCES TOOL =====\nconst input = $input.first().json;\n\nconst response = {\n  status: 'configuring',\n  preference_fields: [\n    {field: 'preferred_brands', label: 'Marcas preferidas', collected: false},\n    {field: 'preferred_formats', label: 'Formatos (kg, caixa, unidade)', collected: false},\n    {field: 'order_frequency', label: 'Frequência de pedidos', collected: false},\n    {field: 'delivery_schedule', label: 'Horário de entrega preferido', collected: false},\n    {field: 'special_restrictions', label: 'Restrições especiais', collected: false}\n  ],\n  current_step: 1,\n  total_steps: 5,\n  message: '⚙️ *Configuração de Preferências*\\n\\nVamos configurar suas preferências para oferecer melhores recomendações.\\n\\n*Tem marcas preferidas que sempre usa?*\\n(Ex: Sadia, Nestlé, Aurora)\\n\\nSe não tem preferência, digite \"nenhuma\".',\n  next_action: 'await_brands'\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1296,
        928
      ],
      "id": "tool-setup-preferences",
      "name": "setup_buying_preferences"
    },
    {
      "parameters": {
        "description": "Busca produtos no catálogo mestre usando vector search semântico. Retorna lista de produtos com preços, fornecedores e disponibilidade.",
        "jsCode": "// ===== VECTOR SEARCH PRODUCTS TOOL =====\nconst input = $input.first().json;\nconst searchQuery = input.query || input.product || input.message || '';\nconst userData = $('Prepare User Context').first().json;\n\nconsole.log('🔍 [Vector Search] Buscando:', searchQuery);\n\n// Generate embedding\nlet queryEmbedding;\ntry {\n  const embeddingResponse = await $http.request({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/embeddings',\n    headers: {\n      'Authorization': `Bearer ${$credentials.openAiApi.apiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      model: 'text-embedding-ada-002',\n      input: searchQuery\n    }\n  });\n\n  if (embeddingResponse.statusCode === 200) {\n    queryEmbedding = embeddingResponse.data[0].embedding;\n  } else {\n    throw new Error('Embedding generation failed');\n  }\n} catch (error) {\n  console.error('❌ Embedding error:', error);\n  return JSON.stringify({\n    found: false,\n    message: '⚠️ Erro ao buscar produtos. Tente novamente.'\n  });\n}\n\n// Search in Supabase\nlet matchingProducts = [];\ntry {\n  const { data, error } = await $supabase.rpc('match_products_v2', {\n    query_embedding: queryEmbedding,\n    match_threshold: 0.65,\n    match_count: 5\n  });\n\n  if (!error) {\n    matchingProducts = data || [];\n  }\n} catch (error) {\n  console.error('❌ Search error:', error);\n}\n\nif (matchingProducts.length === 0) {\n  return JSON.stringify({\n    found: false,\n    message: `🔍 Não encontrei \"${searchQuery}\" no catálogo.\\n\\nTente descrever de outra forma ou digite \"menu\" para ver opções.`\n  });\n}\n\n// Format results\nconst message = `🔍 *Resultados para \"${searchQuery}\"*\\n\\nEncontrei ${matchingProducts.length} opções:\\n\\n` +\n  matchingProducts.map((p, i) => \n    `${i+1}. *${p.product_name}* ${p.unit_type || ''}\\n` +\n    `   ${p.brand ? 'Marca: ' + p.brand : ''}\\n` +\n    `   Relevância: ${(p.similarity * 100).toFixed(0)}%`\n  ).join('\\n\\n') +\n  `\\n\\n💬 Qual te interessa e quantas unidades precisa?`;\n\nconst response = {\n  found: true,\n  results_count: matchingProducts.length,\n  products: matchingProducts,\n  message: message\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1168,
        928
      ],
      "id": "tool-search-products",
      "name": "search_products_vector",
      "credentials": {
        "openAiApi": {
          "id": "MdAepMtuPO5nFVI0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Constrói o carrinho de compras adicionando produtos selecionados pelo usuário. Calcula quantidades, subtotais e total.",
        "jsCode": "// ===== BUILD SHOPPING CART TOOL =====\nconst input = $input.first().json;\nconst userData = $('Prepare User Context').first().json;\n\n// In production: parse user selection and build real cart\n// For now, mock cart structure\n\nconst cart = {\n  cart_id: 'cart-' + Date.now(),\n  session_id: userData.session_id,\n  restaurant_id: userData.restaurant_id,\n  items: [\n    {\n      product_id: 'mock-001',\n      name: 'Tomate Longa Vida 500g',\n      quantity: 3,\n      unit: 'caixas',\n      unit_price: 90.00,\n      subtotal: 270.00\n    }\n  ],\n  subtotal: 270.00,\n  tax: 0,\n  delivery_fee: 0,\n  total: 270.00,\n  status: 'pending_confirmation'\n};\n\nconst message = `🛒 *Seu Carrinho*\\n\\n` +\n  cart.items.map(item => \n    `• *${item.name}*\\n` +\n    `  ${item.quantity} ${item.unit} x R$ ${item.unit_price.toFixed(2)} = R$ ${item.subtotal.toFixed(2)}`\n  ).join('\\n\\n') +\n  `\\n\\n───────────────────\\n` +\n  `Subtotal: R$ ${cart.subtotal.toFixed(2)}\\n` +\n  `Entrega: R$ ${cart.delivery_fee.toFixed(2)}\\n` +\n  `───────────────────\\n` +\n  `*TOTAL: R$ ${cart.total.toFixed(2)}*\\n\\n` +\n  `Quer:\\n` +\n  `1️⃣ Adicionar mais produtos\\n` +\n  `2️⃣ Confirmar pedido\\n` +\n  `3️⃣ Cancelar`;\n\nconst response = {\n  ...cart,\n  message: message\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1040,
        928
      ],
      "id": "tool-build-cart",
      "name": "build_shopping_cart"
    },
    {
      "parameters": {
        "description": "Finaliza o pedido criando a ordem no sistema. Gera número de ordem e confirma ao usuário. Só usar quando usuário confirmar explicitamente.",
        "jsCode": "// ===== EXECUTE CHECKOUT TOOL =====\nconst input = $input.first().json;\nconst userData = $('Prepare User Context').first().json;\n\n// In production: Create order in Supabase\nconst orderNumber = 'ORD-' + Date.now();\nconst today = new Date();\nconst deliveryDate = new Date(today);\ndeliveryDate.setDate(deliveryDate.getDate() + 2);\n\nconst order = {\n  order_number: orderNumber,\n  restaurant_id: userData.restaurant_id,\n  status: 'confirmed',\n  total: 270.00,\n  created_at: today.toISOString(),\n  estimated_delivery: deliveryDate.toISOString().split('T')[0],\n  items_count: 3,\n  payment_status: 'pending'\n};\n\nconst message = `✅ *PEDIDO CONFIRMADO*\\n\\n` +\n  `📋 Número: *${order.order_number}*\\n` +\n  `💰 Total: R$ ${order.total.toFixed(2)}\\n` +\n  `🚚 Entrega estimada: ${order.estimated_delivery}\\n` +\n  `📦 ${order.items_count} produtos\\n\\n` +\n  `Seu pedido está em processo!\\n` +\n  `Avisaremos quando estiver pronto.\\n\\n` +\n  `────────────────\\n` +\n  `💬 Precisa de algo mais?\\n` +\n  `Digite \"menu\" para ver opções.`;\n\nconst response = {\n  success: true,\n  order: order,\n  message: message\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -912,
        928
      ],
      "id": "tool-execute-checkout",
      "name": "execute_checkout"
    },
    {
      "parameters": {
        "description": "Mostra o menu principal de opções para restaurantes.",
        "jsCode": "// ===== SHOW CUSTOMER MENU TOOL =====\nconst menu = `🍽️ *MENU PRINCIPAL - RESTAURANTE*\\n\\n` +\n  `O que quer fazer hoje?\\n\\n` +\n  `1️⃣ 🛒 *Fazer uma compra*\\n` +\n  `   Buscar produtos e criar pedido\\n\\n` +\n  `2️⃣ ⚙️ *Configurar preferências*\\n` +\n  `   Definir marcas, formatos, restrições\\n\\n` +\n  `3️⃣ 📦 *Ver meus pedidos*\\n` +\n  `   Consultar estado e histórico\\n\\n` +\n  `4️⃣ 🏪 *Gestionar fornecedores*\\n` +\n  `   Adicionar ou atualizar suppliers\\n\\n` +\n  `Digite o número ou descreva o que precisa.`;\n\nreturn JSON.stringify({\n  menu: menu,\n  options: ['comprar', 'configurar', 'pedidos', 'fornecedores']\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -784,
        928
      ],
      "id": "tool-customer-menu",
      "name": "show_customer_menu"
    },
    {
      "parameters": {
        "description": "Inicia o registro de um novo fornecedor. Captura razão social, contacto comercial, região de cobertura e categorias de produtos.",
        "jsCode": "// ===== ONBOARDING SUPPLIER TOOL =====\nconst response = {\n  status: 'collecting_data',\n  step: 1,\n  total_steps: 4,\n  fields_collected: [],\n  fields_pending: ['company_name', 'contact_name', 'coverage_area', 'product_categories'],\n  message: '📋 *Registro de Fornecedor*\\n\\n' +\n    'Bem-vindo! Para registrar-se como fornecedor no Frepi, preciso de alguns dados.\\n\\n' +\n    '*Qual é a razão social da sua empresa?*',\n  next_action: 'await_company_name'\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1472
      ],
      "id": "tool-onboarding-supplier",
      "name": "onboarding_supplier"
    },
    {
      "parameters": {
        "description": "Processa e valida lista de preços do fornecedor. Aceita CSV, Excel ou texto estruturado com formato: Produto | Preço | Unidade.",
        "jsCode": "// ===== UPLOAD SUPPLIER PRICES TOOL =====\nconst input = $input.first().json;\nconst message = input.query || input.message || '';\n\n// In production: parse file or text\n// Detect format, validate required fields\n\nconst response = {\n  status: 'awaiting_file',\n  accepted_formats: ['csv', 'xlsx', 'text'],\n  required_fields: ['produto', 'preço', 'unidade'],\n  message: '💰 *Enviar Lista de Preços*\\n\\n' +\n    'Pode me enviar sua lista nestes formatos:\\n\\n' +\n    '📄 *Arquivo CSV/Excel* com colunas:\\n' +\n    '   • Produto\\n' +\n    '   • Preço\\n' +\n    '   • Unidade (kg, caixa, etc)\\n' +\n    '   • SKU (opcional)\\n\\n' +\n    '📝 *Texto estruturado*:\\n' +\n    '   Exemplo:\\n' +\n    '   Tomate 500g | 4.50 | caixa\\n' +\n    '   Cebola 1kg | 3.20 | kg\\n\\n' +\n    'Envie sua lista e vou processar.',\n  next_action: 'await_price_list'\n};\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1168,
        1472
      ],
      "id": "tool-upload-prices",
      "name": "upload_supplier_prices"
    },
    {
      "parameters": {
        "description": "Normaliza a lista de produtos do fornecedor mapeando ao catálogo mestre, padronizando unidades e validando preços.",
        "jsCode": "// ===== NORMALIZE PRODUCT LIST TOOL =====\nconst input = $input.first().json;\n\n// In production: \n// - Vector search to map products\n// - Validate units against standard table\n// - Detect price outliers\n\nconst normalizationResults = {\n  status: 'normalized',\n  products_received: 25,\n  products_mapped: 22,\n  products_new: 3,\n  products_rejected: 0,\n  warnings: [\n    {\n      product: 'Tomate Cherry 250g',\n      issue: 'Preço 30% maior que média do mercado',\n      action: 'review_recommended'\n    }\n  ],\n  summary: {\n    total_value: 12500.00,\n    avg_price_change: '+5%',\n    categories_affected: ['Vegetais', 'Frutas', 'Lácteos']\n  },\n  message: '🔧 *Normalização Concluída*\\n\\n' +\n    '✅ 22 produtos mapeados ao catálogo\\n' +\n    '🆕 3 produtos novos detectados\\n' +\n    '⚠️ 1 alerta de preço\\n\\n' +\n    '*Resumo:*\\n' +\n    '• Valor total: R$ 12.500,00\\n' +\n    '• Mudança média: +5%\\n' +\n    '• Categorias: 3\\n\\n' +\n    'Quer revisar os detalhes ou publicar diretamente?',\n  next_action: 'await_confirmation'\n};\n\nreturn JSON.stringify(normalizationResults);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1040,
        1472
      ],
      "id": "tool-normalize-list",
      "name": "normalize_product_list"
    },
    {
      "parameters": {
        "description": "Publica a lista normalizada ao catálogo ativo criando nova versão e notificando restaurantes afetados.",
        "jsCode": "// ===== PUBLISH TO CATALOG TOOL =====\nconst input = $input.first().json;\n\n// In production:\n// - Create version in catalog_versions table\n// - Update prices in master_list\n// - Notify restaurants using these products\n\nconst version = 'v' + new Date().toISOString().split('T')[0].replace(/-/g, '');\nconst timestamp = new Date().toISOString();\n\nconst publishResult = {\n  success: true,\n  version: version,\n  published_at: timestamp,\n  products_updated: 22,\n  products_added: 3,\n  restaurants_notified: 15,\n  changelog: [\n    {action: 'price_update', count: 18},\n    {action: 'new_product', count: 3},\n    {action: 'availability_change', count: 4}\n  ],\n  message: '📤 *LISTA PUBLICADA COM SUCESSO*\\n\\n' +\n    `✅ Versão: *${version}*\\n` +\n    `📅 Data: ${new Date().toLocaleDateString('pt-BR')}\\n\\n` +\n    '*Mudanças aplicadas:*\\n' +\n    '• 22 produtos atualizados\\n' +\n    '• 3 produtos novos adicionados\\n' +\n    '• 15 restaurantes notificados\\n\\n' +\n    '🎉 Seus produtos já estão disponíveis!\\n' +\n    'Os restaurantes podem ver e fazer pedidos.\\n\\n' +\n    '────────────────\\n' +\n    'Digite \"menu\" para mais opções.',\n  next_action: 'show_menu'\n};\n\nreturn JSON.stringify(publishResult);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -912,
        1472
      ],
      "id": "tool-publish-catalog",
      "name": "publish_to_catalog"
    },
    {
      "parameters": {
        "description": "Mostra o menu principal de opções para fornecedores.",
        "jsCode": "// ===== SHOW SUPPLIER MENU TOOL =====\nconst menu = `🏪 *MENU PRINCIPAL - FORNECEDOR*\\n\\n` +\n  `Que operação quer realizar?\\n\\n` +\n  `1️⃣ 💰 *Enviar lista de preços*\\n` +\n  `   Atualizar produtos e preços\\n\\n` +\n  `2️⃣ 📋 *Ver catálogo ativo*\\n` +\n  `   Consultar produtos publicados\\n\\n` +\n  `3️⃣ 📊 *Histórico de vendas*\\n` +\n  `   Ver pedidos recebidos\\n\\n` +\n  `4️⃣ ⚙️ *Configurar perfil*\\n` +\n  `   Atualizar dados da empresa\\n\\n` +\n  `Digite o número ou descreva o que precisa.`;\n\nreturn JSON.stringify({\n  menu: menu,\n  options: ['preços', 'catálogo', 'vendas', 'perfil']\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -784,
        1472
      ],
      "id": "tool-supplier-menu",
      "name": "show_supplier_menu"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3,
          "timeout": 30000,
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1424,
        1200
      ],
      "id": "openai-customer-001",
      "name": "OpenAI Chat Customer",
      "credentials": {
        "openAiApi": {
          "id": "MdAepMtuPO5nFVI0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2,
          "timeout": 30000,
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1424,
        1456
      ],
      "id": "openai-supplier-001",
      "name": "OpenAI Chat Supplier",
      "credentials": {
        "openAiApi": {
          "id": "MdAepMtuPO5nFVI0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data').first().json.session_id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1200
      ],
      "id": "memory-customer-001",
      "name": "Memory Customer"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data').first().json.session_id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1456
      ],
      "id": "memory-supplier-001",
      "name": "Memory Supplier"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Extract Message Data').first().json.phone_number }}",
        "textBody": "={{ $json.output || $json.message || 'Oi! Algo deu errado. Tente novamente! 😊' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -640,
        1200
      ],
      "id": "respond-whatsapp-001",
      "name": "Send WhatsApp Response",
      "credentials": {
        "whatsAppApi": {
          "id": "Jb7XPGihYb3LXtzN",
          "name": "Frepi Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Buscar Usuario en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario en DB": {
      "main": [
        [
          {
            "node": "Prepare User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Context": {
      "main": [
        [
          {
            "node": "Route: Customer or Supplier?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Customer or Supplier?": {
      "main": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Journey Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Journey Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Journey Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "onboarding_restaurant": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "setup_buying_preferences": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_products_vector": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "build_shopping_cart": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "execute_checkout": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "show_customer_menu": {
      "ai_tool": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "onboarding_supplier": {
      "ai_tool": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "upload_supplier_prices": {
      "ai_tool": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "normalize_product_list": {
      "ai_tool": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "publish_to_catalog": {
      "ai_tool": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "show_supplier_menu": {
      "ai_tool": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Customer": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Supplier": {
      "ai_languageModel": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Customer": {
      "ai_memory": [
        [
          {
            "node": "Customer Journey Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory Supplier": {
      "ai_memory": [
        [
          {
            "node": "Supplier Journey Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "frepi-mvp2-full-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49b8809ac9c6d78ac189292d079f6fecdaf436806e595e6107033a10240b1fea"
  },
  "id": "FrepiMVP2Full",
  "tags": [
    {
      "id": "frepi-v2-architecture",
      "name": "frepi-v2-full"
    }
  ]
}
